body {
  color: #000000;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.container {
  width: 940px;
  margin: 0 auto;
  background: red;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 53px;
}

.index-logo {
  float: left;
  margin-right: 20px;
  min-height: 70px;
  background: yellow;
  width: 140px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  /* Только для оформления сетки */
  float: left;
  margin-right: 20px;
  min-height: 70px;
  width: 620px;
  background: blue;
}

.user-block {
  /* Только для оформления сетки */
  float: left;
  min-height: 70px;
  width: 140px;
  background: yellow;
}


.means {
  min-height: 75px;
  background: yellow;
}

.produce-product {
  float: left;
  min-height: 600px;
  width: 220px;
  margin-right: 10px;
  background: yellow;
}

.main-product {
  float: left;
  min-height: 689px;
  width: 710px;
  background: yellow;
  font-size: 0px;
}

.main-product article {
  display: inline-block;
  margin-right: 25px;
  width: 220px;
  vertical-align: top;
  font-size: 14px;
}

.main-product article:nth-child(3),
.main-product article:nth-child(6) {
  margin-right: 0px;
}

.main-foto {
  display: inline-block;
  width: 470px;
  min-height: 700px;
  margin-right: 65px;
  vertical-align: top;
  background: yellow;
}

.main-foto .foto-item {
  display: inline-block;
  padding-left: 0;
  margin-right: 0px;
}

.main-description {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  min-height: 700px;
  background: blue;
}

.main-footer {
  margin-top: 45px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
  background: yellow;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
  background: blue;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
  background: yellow;
}



h1 {
  color: #000000;
  line-height: 42px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  color: #000000;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  color: #000000;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
